{% load static %}

<table class="table table-sm table-bordered" >
    <thead>
        <tr>
          <th scope="col">Score</th>
          <th scope="col">Age</th>
          <th scope="col">Grade Level</th>
        </tr>
    </thead>
    <tbody>
        <tr style="background: #ffcccc">
            <th scope="row">1</th>
            <td>5-6</td>
            <td>Kindergarten</td>
        </tr>
        <tr style="background: #ffd9cc">
            <th scope="row">2</th>
            <td>6-7</td>
            <td>First/Second Grade</td>
        </tr>
        <tr style="background: #ffd9cc">
            <th scope="row">3</th>
            <td>7-9</td>
            <td>Third Grade</td>
        </tr>
        <tr style="background: #ffe6cc">
            <th scope="row">4</th>
            <td>9-10</td>
            <td>Fourth Grade</td>
        </tr>
        <tr style="background: #ffe6cc">
            <th scope="row">5</th>
            <td>10-11</td>
            <td>Fifth Grade</td>
        </tr>
        <tr style="background: #fff2cc">
            <th scope="row">6</th>
            <td>11-12</td>
            <td>Sixth Grade</td>
        </tr>
        <tr style="background: #fff2cc">
            <th scope="row">7</th>
            <td>12-13</td>
            <td>Seventh Grade</td>
        </tr>
        <tr style="background: #ffffcc">
            <th scope="row">8</th>
            <td>13-14</td>
            <td>Eighth Grade</td>
        </tr>
        <tr style="background: #ffffcc">
            <th scope="row">9</th>
            <td>14-15</td>
            <td>Ninth Grade</td>
        </tr>
        <tr style="background: #f2ffcc">
            <th scope="row">10</th>
            <td>15-16</td>
            <td>Tenth Grade</td>
        </tr>
        <tr style="background: #f2ffcc">
            <th scope="row">11</th>
            <td>16-17</td>
            <td>Eleventh Grade</td>
        </tr>
        <tr style="background: #e6ffcc">
            <th scope="row">12</th>
            <td>17-18</td>
            <td>Twelfth grade</td>
        </tr>
        <tr style="background: #d9ffcc">
            <th scope="row">13</th>
            <td>18-24</td>
            <td>College student</td>
        </tr>
        <tr style="background: #ccffcc">
            <th scope="row">14</th>
            <td>24+</td>
            <td>Professor</td>
        </tr>
    </tbody>
</table>